<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Реестр заказов{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}" />
    {% block head_addendum %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex flex-column p-3 bg-dark text-white min-vh-100">
            {% block sidebar %}
                <nav class="navbar navbar-dark mb-auto">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item ms-5">
                            <strong>Данные</strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:specification' %}">Спецификации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:order' %}">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:execution' %}">УПД</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:contractor_execution' %}">УПД подрядчиков</a>
                        </li>
                        <li class="nav-item ms-5">
                            <strong>Справочная</strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:address' %}">Адреса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:material' %}">Материалы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:customer' %}">Заказчики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:vehicle' %}">Транспорты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:driver' %}">Водители</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:contractor' %}">Подрядчики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:pathcost' %}">Пути</a>
                        </li>
                        <li class="nav-item ms-5">
                            <strong>Отчеты</strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:order_report' %}">По клиентам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:driver_report' %}">По водителям</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:contractor_report' %}">По порядчикам</a>
                        </li>
                        <li class="nav-item ms-5">
                            <strong>Удаленное</strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:deleted_specification' %}">Спецификации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_manager:deleted_order' %}">Заказы</a>
                        </li>
                    </ul>
                </nav>
                <hr>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a id="dropdownProfile" class="text-white text-decoration-none dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <strong>{{ user.get_username }}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownProfile">
                        <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
                    </ul>
                </div>
                {% else %}
                    <a class="text-white" href="{% url 'login'%}?next={{request.path}}">Войти</a>
                {% endif %} 
            {% endblock %}
            </div>
            <div class="col-10 ">{% block content %}{% endblock %}</div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    {% block body_scripts %}{% endblock %}
</body>
</html>
